<button mat-raised-button>
    <mat-icon>add</mat-icon>Crear
</button>
<mat-form-field class="col-lg-3" floatLabel="">
    <mat-label>Filtro</mat-label>
    <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()"
        placeholder="Busca el permiso...">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
        (click)="cleanSearch()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>


<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    
    <ng-container *ngFor="let column of columns" matColumnDef="{{ column.name }}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.title }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[column.name]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



<br>
<br>
<br>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->